apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-mce0
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-mce0
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-mce0
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-mce0
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-mce0
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ovga-tenant/nodejs-users/simple-nodejs-app-mce0@sha256:18da64e169b3afd9d450988a0767d4a41639bba63b93f568a260335208341b3f
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
